body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-img{
    background-image: linear-gradient(to right, rgb(35, 37, 38 , 0.9), rgb(65, 67, 69 , 0.9)),url('./assets/img/house-bg1.jpg');
}

.form-inputs {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    gap: 3rem;
    width: 100%;
    min-width: 500px;
    font-family: "Nunito Sans";
  }


  .form-inputs .input-field {
    max-width: 20rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-inputs input,
.form-inputs select {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    color: #eee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.form-inputs input::-webkit-inner-spin-button,
.form-inputs input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.form-inputs select:focus  {
  outline: 2px solid var(--clr);
}

.form-inputs select option {
  outline: 2px solid var(--clr);
  color: #707070;
}

.form-inputs input:focus{
  outline: 2px solid var(--clr);
}

.form-inputs label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
  }

  .loader {
    width: 80px;
    height: 50px;
    position: relative;
  }
  
  .loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #58bc82;
    animation: text_713 3.5s ease both infinite;
    font-size: 1.2rem;
    letter-spacing: 12px;
  }
  
  .load {
    background-color: #58bc82;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(72px);
    animation: loading_713 3.5s ease both infinite;
  }
  
  .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #58bc82;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }
  
  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
   
   
  
  .card {
    z-index: 999;
    position: absolute;
    /* left: 50%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 18rem;
    background-color: #1e2922;
    border: 3px solid #58bc82;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px 40px;
    color: #58bc82;
    border-radius: 8px;
  }
  
  .App-logo {
    pointer-events: none;
    width: 120px;
    margin-bottom: 20px;
  }
  
  .App-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #58bc82;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border: 3px solid #58bc82;
    border-radius: 5em;
    margin-top: 20px;
    transition: 0.2s;
  }
  
  .App-button:hover {
    color: #2e2d23;
    background-color: #58bc82;
  }

  .backdrop {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(67, 67, 67, 0.8), rgb(0, 0, 0 , 0.8)); 
    z-index: 99; /* Ensure it's above other content */
  }


  .social-icon {
    position: relative;
    border: none;
    margin: 10px;
    background-color: transparent;
  }
  
  .social-icon a {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .social-icon a:hover {
    transform: translateY(-20px);
  }
  
  .social-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s ease;
  }
  
  .social-icon a:hover::before {
    transform: skewX(45deg) translateX(-150px);
  }